<div class="store-container">
  <nav class="navbar">
    <div class="nav-brand">Electronic Shop</div>
    <div class="nav-actions">
      <button routerLink="/cart" class="cart-badge btn-cart-nav" style="cursor: pointer; color: white;">
        <svg class="nav-cart-icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="20" height="20">
          <path
            d="M7 18c-1.1 0-1.99.9-1.99 2S5.9 22 7 22s2-.9 2-2-.9-2-2-2zM1 2v2h2l3.6 7.59-1.35 2.45c-.16.28-.25.61-.25.96 0 1.1.9 2 2 2h12v-2H7.42c-.14 0-.25-.11-.25-.25l.03-.12.9-1.63h7.45c.75 0 1.41-.41 1.75-1.03l3.58-6.49c.08-.14.12-.31.12-.48 0-.55-.45-1-1-1H5.21l-.94-2H1zm16 16c-1.1 0-1.99.9-1.99 2s.89 2 1.99 2 2-.9 2-2-.9-2-2-2z" />
        </svg>
        <span>Carrito: <strong>{{ cartCount }}</strong></span>
      </button>
      <button class="btn-logout" (click)="onLogout()">Cerrar Sesión</button>
    </div>
  </nav>

  <main class="main-content">
    <h2>Catálogo de Productos</h2>
    <p class="subtitle">Explora nuestros artículos disponibles</p>

    @if (errorMessage) {
    <div class="alert-error">{{ errorMessage }}</div>
    }

    <div class="products-grid">
      @for (product of products; track product.id) {
      <div class="product-card">
        <div class="product-info">
          <h3 class="product-title">{{ product.name }}</h3>
          <p class="product-description">{{ product.description }}</p>
          <div class="product-footer">
            <span class="product-price">${{ product.price }}</span>
            <span class="product-stock">Stock: {{ product.stock }}</span>
          </div>

          <button class="btn-add-cart" (click)="onAddToCart(product)">
            Añadir al Carrito
          </button>
        </div>
      </div>
      } @empty {
      <div class="empty-store">
        <p>No hay productos disponibles en este momento.</p>
      </div>
      }
    </div>
  </main>
</div>